body {
  font-family: 'Fira Sans', Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}

.container2 {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;   
}

.footer-container {
  max-width: 1200px;
  padding: 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;   
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4.8ch;
}

@media (max-width: 800px) {
  .container2 {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}